.order_detail {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 122px;
  text-align: left;
}

.order_detail__status {
  font-size: 16px;
  line-height: 24px;
  color: #00CCCC;
}

.order_detail__number {
  text-align: center;
}

.order_detail__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order_detail__ingredient,
.order_detail__ingredient_price,
.order_detail__price {
  display: flex;
  align-items: center;
}

.order_detail__ingredient_price {
  margin-left: auto;
}

.order_detail__ingredient_title {
  font-size: 16px;
  line-height: 24px;
}