.ingredients {
  width: 100%;
  max-width: 600px;
}

.ingredients__tabs {
  display: flex;
  align-items: center;
}

.ingredients__item__top {
  position: relative;
}

.ingredients__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px 24px;
}

.ingredients__item__price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredients__item__name {
  text-align: center;
}

.ingredients__item {
  cursor: pointer;
}

.ingredients__wrap {
  overflow-y: scroll;
  max-height: 665px;
}

.ingredients__wrap::-webkit-scrollbar {
  width: 8px;
}

.ingredients__wrap::-webkit-scrollbar-track {
  background-color: #2F2F37;
}


.ingredients__wrap::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.ingredients__wrap::-moz-scrollbar-thumb {
  background-color: #8585AD;
}

/* Firefox */
/* Track */
.ingredients__wrap {
  scrollbar-width: 8px;
  scrollbar-color: #2F2F37 #8585AD;
}