.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C1C21;
}

.btn {
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.btn__text_active span {
  color: #F2F2F3;
}

.btn_profile {
  margin-left: 288px;
}

.nav {
  margin-right: 112px;
}